# Quarto temporales
*.quarto_ipynb*
*_files/
.quarto/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Dashboard generados
dashboard/scatter3d.html
dashboard/map_home.html
dashboard/*.png
.vscode/
